h1 {
    column-span: all
}

body {
    font-family: Tahoma;
}

ul{
    color:black;
}

* {
    box-sizing: border-box;
}
  
/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 40%;
    padding: 10px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
  
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }

}

table, th, td {
    border: 1px solid black;
    text-align: left;
    font-weight: normal;
    padding: 3px
  }

table h4 {
    text-align: center;
    margin: 0px;
}
